@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hanna Samia</h1>
    <h2>Web Services Project</h2>
    <h2>Supervised by Dr Jacques Demerjian</h2>
</div>
<br />
<br />
<br />
<p>This project is a Demo That can do the following:</p>
<ul>
    <li>Sign an Xml Document</li>
    <li>Encryt and Xml element</li>
    <li>Encryt and Xml element using X.509 Certificate</li>
</ul>
